.App {
  text-align: center;
  background-color: #f6f6f6;
}

.viewOffences{
  display: flex;
  margin : 1rem;
  text-align: center;
}

#inText{
  font-size: 22px;
}

.custom-button {
  background-color: rgb(14,71,161);
  min-width: 10rem;
  height: 2rem;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.custom-button:hover {
  background-color: rgb(60, 103, 173);
}

#table{
  font-size: 18px;
    
}

table,th,td
{
  border:3px solid black;
  margin-left:35%;
  margin-top: 3%;
  
  
}    
table
{
  border-collapse:collapse;
  width:50%;
}
td
{
  height:50px;
}
tr
{
  background-color:rgb(14,71,161);
  color:white;
}
th
{
  background-color: rgb(145, 114, 72);
  color:black;
}

.column-wrapper3 {

  width: calc(90% - 1rem);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(1, 7fr);
  grid-auto-rows: 50px;


 
}
.wrapper{
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: grid;

}

.block{
  background-color: white;
  width: calc(40% - 4rem);
  margin-left: auto;
  margin-right: auto;

}
