.App {
  text-align: center;
  background-color: #f6f6f6;
}

#inText{
  font-size: 22px;
}

.custom-button {
  background-color: rgb(14,71,161);
  min-width: 10rem;
  height: 2rem;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.custom-button:hover {
  background-color: rgb(60, 103, 173);
}

#table{
  font-size: 18px;
    
}

table,th,td
{
  border:3px solid black;
  margin-left: center;
  margin-top: center;
  height: auto;
  width: auto;
  
}    
table
{
  border-collapse:collapse;
  width:50%;
}
td
{
  height:50px;
}
tr
{
  background-color:rgb(14,71,161);
  color:white;
}
th
{
  background-color: rgb(145, 114, 72);
  color:black;
}
