.column-wrapper2 {
    width: calc(60% - 4rem);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 125px;
    gap: 2rem;
  }

