.menuWrapper{

    min-height: 100vh;
    overflow: inherit;
    text-align: center;
    align-self: center;
    padding: 5px;
    border-radius: 7px;
    font-family: "BULGARE";
    

    

}
@font-face {
    font-family: "BULGARE";
    src: local("BULGARE"),
     url("./BULGARE.otf") format("opentype");
    }


