
.column-wrapper {
    width: calc(80% - 4rem);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    gap: 5rem;
  }

