.activityCenter{
text-align: center;
align-items: center;
}

.center {
    display: flex;
    justify-content: 'center';
    align-items: 'center';
}
.box{
    width: 80%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;  /* for demo purpose  */
}
.stack-top{
    z-index: 9;
}
