.card {
    position: relative;
    background-color: white;
    cursor: pointer;
    border-radius: 7px;
}

.header {
    text-align: center;
}

.shadow {
    -webkit-box-shadow: 2px 2px 10px 6px #ccc;
    -moz-box-shadow: 2px 2px 10px 6px #ccc;
    box-shadow: 2px 2px 10px 6px #ccc;
}

.descripton-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    width: 90%;
    max-width: 650px;
    height: 100px;
    text-align: center;
}


.bottom-div {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 1rem;
}